<section class="hero" aria-labelledby="hero-title">
	<div class="hero__image" aria-hidden="true"></div>
	<div class="hero__content shell">
		<div>
			<h1 id="hero-title">Simple solid<br />wood furniture</h1>
		</div>
	</div>
</section>
