<section class="hero" aria-labelledby="hero-title">
	<img
		class="hero__image"
		src="/images/hero-furniture.png"
		alt=""
		width="1536"
		height="1024"
	/>
	<div class="hero__content shell">
		<div>
			<h1 id="hero-title">Simple solid<br />wood furniture</h1>
		</div>
	</div>
</section>
