---
export interface Props {title?: string;}
import type { Props } from 'astro/components/ClientRouter.astro';
import '../styles/global.css';
//import "../assets/app.css";
//const { content } = Astro.props;
const { title = 'TWA' } = Astro.props as Props;
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<!--<title>{content.title}</title>-->
		<title>{title}</title>
	</head>
	<body>
		<Header />

		<main>
			<slot />
		</main>
		<Footer/>
	</body>
</html>
